#----ides config
.env
.idea
.history
.vs

#-------laravel
/vendor/*
*/vendor/*
**/vendor/*
*vendor/*
/vendor
/log/*


#--------node
/node_modules
/*/node_modules
/*/*/node_modules
/*/*/*/node_modules
/*/*/*/*/node_modules
*node_modules




# Ignora los ficheros *.o y *.a *.zip
*.iso
#*.[ao]
#*.zip
#*.rar


